*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

$primary-color: #113C38;
$text-color: #7C8080;
$default-margin: 20px auto;

body{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 'head nav'
    'main main'
    'footer footer';
    height: 100vh;
    width: 90vw;
    color: $text-color;
    line-height: 1.5em;

    h1,h2,h3{
        color: $primary-color;
    }

    font: {
        family: 'league spartan';
        size: 18px;
    }
}

// div img{
//     height: 160px;
//     width: auto;
//     background-color: azure;
// }
// header
.logo{
    grid-area: head;
    margin: 20px 0;
    height: 100px;
}

nav{
    grid-area: nav;
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%; 
    }
}

// main
main{
    grid-area: main;
    width: 100%;
}

.hero{
    display: flex;
    align-items: center;
    // margin: 20px 0;
    justify-content: space-between;
    // width: 100vw;
    h1{
        font: {
            family: 'henny penny';
            size: 72px;
        } 
        color: $primary-color ;
        line-height: 1.25em;
    }
    p{
        font: {
            size: 24px;
        }
       
    }
}

.hero-image img{
    width: 500px;
    flex-shrink: 1;
}


.info{
    display: flex;
    justify-content: space-between;
    margin: $default-margin;
    article{
        flex: auto;
        img{
            flex-shrink: 1;
   
        }
    }
}

.promotion, .about{
    display: flex;
    align-items: center;
    height: 250px;
    margin: $default-margin;
}

// footer
footer{
    grid-area: footer;
    padding: 20px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .logo{
        height: 80px;
    }
}