*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

$primary-color: #113C38;
$secondary-color: #F2542D;
$text-color: #7C8080;
$default-margin: 20px auto;

body{
    margin: 0 auto;
    display: grid;
    // grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 'head head'
    'nav nav'
    'main main'
    'footer footer';
    height: 100vh;
    width: 90vw;
    color: $text-color;
    line-height: 1.5em;

    h1,h2,h3{
        color: $primary-color;
    }

    font: {
        family: 'league spartan';
        size: 18px;
    }
}
h2{
    font-family: 'henny penny';
margin: 16px 0;
}
a{
    color: $text-color;
}
// header
header{
    grid-area: head;
    display: flex;
justify-content: center;
width: 100%;
height: 100px;
margin: 20px 0;
}


nav{
    grid-area: nav;
    margin-bottom: 20px;
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%; 
        width: 50%;
        margin: 0 auto;
        padding: 16px 64px;
        border: 2px solid #113C3830;
        border-radius: 50px;
    }

    li:hover{
        font-family: 'henny penny';
        animation: enlarge-text 5s linear;
        transform: scale(1.05);
        background-color: #F2542D20;
        border-radius: 50px;
    }

    li a:hover{
        color: $secondary-color;
    }
}
// @keyframes enlarge-text {
//     from{        transform: scale(0);
//     }
//     to{        transform: scale(6);
//     }
// }

// main
main{
    grid-area: main;
    width: 100%;
}

.hero{
    display: flex;
    align-items: center;
    // margin: 20px 0;
    justify-content: space-between;
    // width: 100vw;
    h1{
        font: {
            family: 'henny penny';
            size: 72px;
        } 
        color: $primary-color ;
        line-height: 1.25em;
    }
    p{
        font: {
            size: 24px;
        }
       
    }
}

.hero-image img{
    width: 600px;
    flex-shrink: 1;
}


.info{
    display: flex;
    justify-content: space-around;
    margin: $default-margin;
    article{
        // flex: auto;
        img{
            flex-shrink: 1;
            height: 200px;
   
        }
    }
}

@mixin container{
    display: flex;
    column-gap: 80px;
    align-items: center;
    justify-content: space-between;
    min-height: 200px;
    margin: $default-margin;
}

.promotion{
    @include container;
    background-color: #113C3810;
    padding: 20px;
    border-radius: 16px;
    justify-content: space-evenly;
    margin: 80px 0;
}
.about{
    @include container;
}
// footer
footer{
    grid-area: footer;
    padding: 20px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .logo{
        height: 80px;
    }
}